{{#each profile}}
  <div class="container">
    <ul class="nav nav-tabs justify-content-between mt-2">
      <li class="nav-item">
        <a class="nav-link active" href="/@{{username}}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/@{{username}}/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/@{{username}}/comments">Comentários</a>
      </li>
    </ul>
    <div class="row">
      <div class="col">
        <div class="card mt-3 md-4">
          <div class="card-header">
            <h4 class="text-center">Perfil de Usuário</h4>
          </div>
          <div class="card-body">
            <div class="card-img">
              <img src="{{image}}" alt="Profile Picture" class="profile-picture shadow-lg img-fluid rounded-circle mx-auto d-block" style="width: 150px; height: 150px;">
            </div>
            <div class="container">
              <hr>
            </div>
            <div class="card-text mt-3">
              <p><strong>Nome de usuário</strong></p>
              <p class="form-control">{{username}}</p>
              <p><strong>Conta criada em</strong></p>
              <p class="form-control">{{data}}</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-4 md-4">
          <div class="card-header">
            <h4 class="text-center">Sobre mim</h4>
          </div>
          <div class="card-body">
            <p>{{{bio}}}</p>
          </div>
{{/each}}
          <div class="card-footer text-center">
            {{{btn}}}
          </div>

        </div>
      </div>
    </div>
  </div>